html {
	
	font-family:SaniTrixieSans;
}


div.-link-container {
	cursor:pointer;
	padding-left:5px;
	background-color: #fefefe;
	transition:background-color 0.5s;
}

div.-link-container:hover {
	color:#fefefe;
	background-color:#C800FF;
	transition:background-color 0.5s;
}