.-sjs-loader-progress {
position: absolute;
top: 0px;
left: 0px;
width: 50%;
height: 0.25em;
background-color: #00C3D8;
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.52);
box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.32);
}
.test-drop-down-list {

  background-color: #222222;
}

.-frameless-textbox {
  background: none;
      color: #cecece;
      border: none;
}
.-vertical-align {
  vertical-align: middle;
}




.-component-test-table td {
  padding-top:10px;
    border:1px solid #3e3e3e;
}

.-splicejs-chart .scatter.series1{
  fill:red;
}
.-splicejs-chart .scatter.series2 {
  fill:blue;
}
.line1{stroke: blue;}
