<sjs-component sjs-type="Components" sjs-controller="ComponentsTest" sjs-export>

<table class="-component-test-table">
<!-- ComboBox -->
<tr>
  <td>ComboBox</td>
  <td>
  <sjs-include sjs-type="SpliceJS.Controls.ComboBox">
    {
        default:'Please select an item',
        dataIn: binding('onProvinces').parent,
        onDataItem: binding('provinceSelected').parent
    }
  </sjs-include>
</td>
</tr>


<!-- Another Component -->
<tr>
  <td>Component Name</td>
  <td>Component Include</td>
</tr>




</sjs-component>
