<sjs-component sjs-type="ComboBoxTestItem" sjs-controller="SpliceJS.Controls.ListItemController">
  <div style="white-space:nowrap; border-bottom:1px solid #444444;">
    <sjs-include sjs-type="SpliceJS.Controls.Button">
      {
        dataPath:'name',
        dataIn:binding('onDataOut').parent
      }
    </sjs-include>
  </div>
</sjs-component>

<sjs-component sjs-type="ComboBoxTestItem2" sjs-controller="SpliceJS.Controls.ListItemController">
  <div style="white-space:nowrap; border-bottom:1px solid #444444;">
    <sjs-include sjs-type="SpliceJS.Controls.CheckBox" sjs-class="-vertical-align">
      {
        dataPath:'isChecked',
        dataIn:binding('onDataOut').parent
      }
    </sjs-include>
    <sjs-include sjs-type="SpliceJS.Controls.TextField" sjs-class="-frameless-textbox">
      {
        dataPath:'name',
        dataIn:binding('onDataOut').parent,
        isRealTime:true,
        trapMouseInput:true
      }
    </sjs-include>
  </div>
</sjs-component>

<sjs-component sjs-type="ComboBoxTestItem3" sjs-controller="SpliceJS.Controls.ListItemController">
  <table>
    <tr>
      <td sjs-content="name"></td>
      <td sjs-content="isChecked"></td>
      <td sjs-content="population"></td>
    </tr>
  </table>
</sjs-component>
