<sjs-component sjs-type="Components" sjs-controller="ComponentsTest" sjs-export>
<table class="-component-test-table">
<!-- Button Component -->
<tr>
  <td>Button</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.Button">
      {content: {label: 'Test Button'}}
    </sjs-include>
  </td>
</tr>



<!-- CheckBox Component -->
<tr>
  <td>CheckBox</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.CheckBox">
      {
        dataIn:binding('onTestCheck').parent,
        onChecked:binding('testCheck').parent
      }
    </sjs-include>
  </td>
</tr>


<!-- Text Field -->
<tr>
  <td>TextField</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.TextField">
    </sjs-include>
  </td>
</tr>

<!-- ComboBox -->
<tr>
  <td>ComboBox</td>
  <td>
  <sjs-include sjs-type="SpliceJS.Controls.ComboBox">
    {
        default:'Please select an item',
        dataItemPath:'name',
        dataIn: binding('onProvinces').parent,
        onDataItem: binding('provinceSelected').parent,
        css:{list: 'test-drop-down-list'}
    }
  </sjs-include>
</td>
</tr>

<!-- Templated ComboBox-->
<tr>
  <td>Templated ComboBox - Button</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.ComboBox">
      {
          default:'Please select an item',
          dataIn: binding('onProvinces').parent,
          onDataItem: binding('provinceSelected').parent,
          css:{list: 'test-drop-down-list'},
          itemTemplate:<sjs-include sjs-type="ComboBoxTestItem"></sjs-include>
      }
    </sjs-include>
  </td>
</tr>

<!-- Another Component -->
<tr>
  <td>Templated ComboBox - Text Field</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.ComboBox">
      {
          default:'Please select an item',
          selectorDataPath:'name',
          dataIn: binding('onProvinces').parent,
          onDataItem: binding('provinceSelected').parent,
          css:{list: 'test-drop-down-list'},
          itemTemplate:<sjs-include sjs-type="ComboBoxTestItem2"></sjs-include>
      }
    </sjs-include>
  </td>
</tr>

<!-- Another Component -->
<tr>
  <td>Templated ComboBox - Table</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.ComboBox">
      {
          default:'Please select an item',
          selectorDataPath:'name',
          dataIn: binding('onProvinces').parent,
          onDataItem: binding('provinceSelected').parent,
          css:{list: 'test-drop-down-list'},
          itemTemplate:<sjs-include sjs-type="ComboBoxTestItem3"></sjs-include>
      }
    </sjs-include>
  </td>
</tr>


<!-- Check List -->
<tr>
  <td>Check List</td>
  <td>
    <sjs-include sjs-type="SpliceJS.Controls.CheckListBox">{
      dataIn: binding('onProvinces').parent,
    }</sjs-include>
  </td>
</tr>


<!-- Another Component -->
<tr>
  <td>Grid Layout</td>
  <td>
  <div style="position:relative; width:400px; height:300px;">
    <sjs-include sjs-type="SpliceJS.Controls.GridLayout">
    </sjs-include>
  </div>
  </td>
</tr>


<!-- Another Component -->
<tr>
  <td>Component Name</td>
  <td>Component Include</td>
</tr>

</table>
</sjs-component>
