<!DOCTYPE html>
<html>

<head>
<script src="splice.config.js"></script>
<script src="../../../splicejs/splice.js"></script>

<script>
	//sjs().debug.enable();
	sjs().boot([
        '{sjshome}/modules/splice.animation.js',
	      '{sjshome}/modules/splice.network.js',
      	'{sjshome}/modules/splice.document.js',
        '{sjshome}/modules/splice.data.js',
        '{sjshome}/modules/splice.text.js',
        '{sjshome}/modules/splice.text.js',

        '{sjshome}/modules/splice.ui.js',
        '{sjshome}/modules/splice.controls/splice.controls.buttons.js',

        '{sjshome}/modules/splice.controls.js',
		    'resources/fontfaces.css',
        {'Tests':'splice.test.components.js'}

    ]);
</script>

<style>
	body {
			background-color:#222222; color:#fefefe;
			font-family: Arial;
	}

	.-component-test-table td {
		padding-top:10px;
		padding-right:3em;
		border:1px solid #3e3e3e;
	}

</style>

</head>
<body>


<sjs-include sjs-type="Tests.Components"></sjs-include>


</body>
</html>
