<!DOCTYPE html>
<html>

<head>
<script src="splice.config.js"></script>
<script src="../../../splicejs/splice.js"></script>

<script>
	//sjs().debug.enable();
	sjs().boot([
      {'Tests':'splice.test.components.js'}
  ]);
</script>

<style>
	body {
			background-color:#222222; color:#fefefe;
			font-family: Arial;
	}

	.-component-test-table td {
		padding-top:10px;
			border:1px solid #3e3e3e;
	}

	.-splicejs-chart .scatter.series1{
		fill:red;
	}
	.-splicejs-chart .scatter.series2 {
		fill:blue;
	}
	.line1{stroke: blue;}

</style>

</head>
<body>


<sjs-include sjs-type="Tests.Components"></sjs-include>
<sjs-include sjs-type="Tests.Components"></sjs-include>
<sjs-include sjs-type="Tests.Components"></sjs-include>
<sjs-include sjs-type="Tests.Components"></sjs-include>
<sjs-include sjs-type="Tests.Components"></sjs-include>

<div style="position:absolute; top:0px; left:0px; width:50%; height:1em;"></div>

</body>
</html>
