.-splicejs-calendar {
	background-color:#222222;
}
.-splicejs-calendar .days {
	color:#cecece;
	background-color: #323232;
}

.-splicejs-calendar .grid {
	color:#cecece;
}


.-splicejs-calendar .grid {
	border-collapse: collapse;
}
.-splicejs-calendar .grid tr.days td {
	height:auto;
	color:#ffffff;
	background-color: rgb(116, 116, 116);
}

.-splicejs-calendar .grid tr.controls td:hover {
	background:none;
}

.-splicejs-calendar .grid td {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #494949;
  font-size: 0.8em;

  cursor: pointer;
}


.-splicejs-calendar .grid td:hover {
	background-color:#5E5D5D;
}

.-splicejs-calendar .grid td.this-month {
	background-color: #383838;
}

.-splicejs-calendar .grid td.this-month:hover {
	background-color:#5E5D5D;	
}


.-splicejs-calendar .grid td.today {
	background-color: #D3A800;
  	color: #ffffff;
}

.-splicejs-calendar .grid td.today:hover {
	background-color: #FDCA00;
  	color: #ffffff;
}

.-splicejs-calendar .grid .controls .prev {
	position:absolute;
	background:url('resources/calendar/black/previous.gif');
	height:11px; width:11px;
	left:0px; top:50%;
	margin-top:-6px; margin-left:7px;
}

.-splicejs-calendar .grid .controls .next {
	position:absolute;
	background:url('resources/calendar/black/next.gif');
	height:11px; width:11px;
	right:0px; top:50%; 
	margin-top:-6px; margin-right: 7px;
}
