.-sjs-button {
    display: inline-block;
    background-color: #1b88b8;
	border-radius:3px;
    padding: 0.3em 1em;
	cursor: pointer;
	transition: background 0.2s ease-in;
}

.-sjs-button-disabled {
	display: inline-block;
	border: 1px solid #1b88b8;
	background:none;
	padding: 0.3em 1em;
	cursor: pointer;
}


.-sjs-button:hover {
	background-color: #1CD0FA;

}


.-sjs-textfield {
	font-size: 13px;
  padding: 5px;
 	border: 1px solid #cecece;
 	border-radius: 3px;
}

.-sjs-checkbox {
		display:inline-block;
		width: 13px;
	  height: 13px;
	  position: relative;
	  border: 1px solid #cecece;
	  left: 0px;
	  top: 0px;
}

.-sjs-checkbox:hover {
	background-color:#424A49;
}

.-sjs-checkbox.checked {
	background-image: url('resources/checklistbox/black/checkmark.png');
	background-repeat: no-repeat;
}
