/* 
	Drop-Down List
-------------------------------------------	
*/
.-splicejs-drop-down-list {
	position: absolute;
	display: block; /* important to allow sizing object prior to display*/
	visibility:hidden;
	/*width:274px;
	height:200px;*/
	border:1px solid #1f1f1f;
	box-shadow: 4px 4px 29px -11px rgba(0,0,0,1);
	background:#262B2D;
		
	overflow:hidden;
	z-index:1000;
}

.-splicejs-list-item {
	position:relative;
	font-size: 11px;
		
	color:#ffffff;
	padding:15px;
	padding-left: 20px;
	padding-right:60px;
	cursor:pointer;
	border-bottom: 1px solid #4c5562;
	overflow: hidden;
	white-space: nowrap;
	opacity:1; 
}



/*
	Button-Bar
-------------------------------------------	


.-splicejs-button-bar {

}

.-splicejs-button-bar {}
*/

/*
	View Panel
-------------------------------------------	
*/
.-splicejs-view-panel {
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;

	overflow: hidden;
}

.-splicejs-view-panel .panel {
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
}



/*
	Pullout panel
-------------------------------------------	
*/
.-splicejs-pullout-panel {
	position:absolute;
	top:0px; left:-500px; bottom:0px;
	width:500px;

	box-shadow: 3px 0px 30px -4px rgba(0,0,0,0.78);

	transition:left 0.4s cubic-bezier(0.6, 0.05, 0.35, 0.9);
}






