.-sjs-list-box {
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
}

.-sjs-list-box-base {
	position:relative;
}

.-sjs-listbox-item {
	padding:5px;
	cursor:default;
}

.-sjs-listbox-item:hover {
	background-color: #333333;
}
