
/*
Drawer Panel
----------------------------	
*/
.-splicejs-drawer-panel {
	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px;

	overflow: hidden;	
}

.-splicejs-drawer-panel .actuator { 
	position:absolute;
	top:0px; left:10px; 
	width: 30px;
  	height: 30px;
  	top:10px;
 
  	cursor: pointer;
  	transition: left 0.6s cubic-bezier(0.6, 0.05, 0.35, 0.9);
}

.-splicejs-drawer-panel .actuator img {width:30px; height:30px;}

.-splicejs-drawer-panel .body { 
	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px;
	overflow: hidden;
	
	transition: left 0.6s cubic-bezier(0.6, 0.05, 0.35, 0.9);
	
}

.-splicejs-drawer-panel .drawer { 
	
	position:absolute;
	top:0px; left:0px; bottom:0px; width:0px;
	overflow: hidden;

	background-color:#fff;
	box-shadow: 3px 0px 30px -4px rgba(0,0,0,0.78);


}


.-splicejs-drawer-panel .drawer-active { 
	
	position:absolute;
	top:0px; left:0px; bottom:0px;
	width:10px;
	overflow: hidden;
	background-color:#fff;


	/*box-shadow: 3px 0px 8px -4px rgba(0,0,0,0.78);*/
}
