.-splicejs-grid-layout {

	position:absolute;
	left:0px; top:0px; right:0px; bottom:0px;
	overflow: hidden;

}


.-splicejs-grid-layout-cell {
	position:absolute;
}

.-splicejs-grid-layout-cell .body {
	position:absolute;
	left:0px; top:0px; right:0px; bottom:0px;
}



.-splicejs-grid-layout-cell .resize-left {
	position:absolute;
	left:-3px; width:5px;
	top:0px; bottom:0px;
}
.-splicejs-grid-layout-cell .resize-left:hover { 	
	background-image:url(resources/gridlayout/horizontalresizeanchor.png);
	background-position-y:center;
	cursor:w-resize; 
}


.-splicejs-grid-layout-cell .resize-top {
	position:absolute;
	left:0px; right:0px;
	top:-3px; height:5px;
}

.-splicejs-grid-layout-cell .resize-top:hover { 		
	cursor:s-resize; 
	background-image:url(resources/gridlayout/verticalresizeanchor.png);
	background-position-x:center;
}


.-splicejs-grid-layout-cell .resize-right {
	position:absolute;
	right:-3px; width:5px;
	top:0px; bottom:0px;
}
.-splicejs-grid-layout-cell .resize-right:hover { 	
	background-image:url(resources/gridlayout/horizontalresizeanchor.png);
	background-position-y:center;
	cursor:w-resize;  
}


.-splicejs-grid-layout-cell .resize-bottom {
	position:absolute;
	left:0px; right:0px;
	height:5px;
	bottom:-3px;
}
.-splicejs-grid-layout-cell .resize-bottom:hover { 	
	background-image:url(resources/gridlayout/verticalresizeanchor.png);	
	cursor:s-resize; 
	background-position-x:center;
}