/*
	Data Table
-------------------------------------------
*/
.-sjs-datatable {
	white-space:nowrap;
}

.-sjs-datatable .-splicejs-scrollpanel .static {
    height:50px;
}

.-sjs-datatable thead td {
	padding:10px;
}

.-sjs-datatable tbody td {
	height:25px;
}

.-sjs-datatable-headercontainer {
	-webkit-box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.23);
	-moz-box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.23);
	box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.23);
}

.-sjs-datatable thead th {
	padding:10px;
	padding-right:28px;
	padding-left:28px;
    cursor:pointer;
}

.-sjs-datatable .sort-trigger.down {
	position: absolute;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cecece;
    top: 50%;
    margin-top: -2px;
    right: -15px;
    transition: transform 0.2s ease-out;
}

.-sjs-datatable .sort-trigger.up {
	position: absolute;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cecece;
    top: 50%;
    margin-top: -2px;
    right: -15px;
    transform:rotate(180deg);
    transition: transform 0.2s ease-out;
}

/*hover over style */
.-sjs-datatable .filter-trigger {
    position: absolute;
    top: 0px;
    left: 0px;
    display:none;

    /**/
    width:32px;
    height:32px;
    /**/
    left: -28px;
    top: -10px;
}

.-sjs-datatable .filter-trigger .icon {
	position: absolute;
    left:50%; top:50%;
    width: 10px;
    height: 10px;

    margin-left:-7px;
    margin-top:-7px;

    border: 2px solid #cecece;
    border-radius: 100%;
}

.-sjs-datatable thead th:hover .filter-trigger {
	display:block;
}

.-sjs-datatable thead .filter-trigger .icon div {

	position: absolute;
    width: 6px;
    height: 6px;
    background-color: #cecece;
    top: 50%;
    left: 50%;
    margin-left: -3.5px;
    margin-top: -2.5px;
    border-radius: 100%;
    display:none;
}

.-sjs-datatable thead .filter-trigger .icon:hover div {
	display:block;
}

/*drop down open style */
.-sjs-datatable .filter-trigger.-sjs-dropdown-open {
    background-color: #303030;
	display:block;
}


.-sjs-datatable thead .filter-trigger.-sjs-dropdown-open .icon div {
    display:block;
}


.-sjs-filter-control {
    position:relative;
    width: 400px;
    height: 300px;
    background-color: #2B2B2B;
    color: #cecece;
    font-size:0.8em;
}

.-sjs-filter-control .filter-head {
	position: absolute;
  top: 0px;
  padding-left: 10px;
  right: 0px;
  left: 0px;
  height: 33px;
  background-color: #303030
}

.-sjs-filter-control .filter-head .-sjs-textfield {
	background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6ADDFF;
	outline: none;
	color:#cecece;
}

.-sjs-filter-control .filter-body {

    position: absolute;
    top:40px;
    bottom: 53px;
    left: 0px;
    right: 0px;
}

.-sjs-filter-control .footer {

    position: absolute;
    bottom: 12px;
    left: 0px;
    right: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 14px;
    border-top: 1px solid #4A4A4A;
}

.-sjs-filter-control .-sjs-button {
    border-radius: 0;
    font-size: 10px;
    background-color: #484848;
    border: 1px solid #6D6D6D;
}

.-sjs-filter-control .-sjs-button:hover {
    background-color: #5A5A5A;
}


.-sjs-filterlist-item {
    padding-left:5px;
    cursor:default;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-bottom: 1px;
}


.-sjs-filterlist-item:hover {
    background-color:#222222;
}

.-sjs-filterlist-item.selected {
	background-color: #8E7B18;;
  color: #cecece;
}
