/*
	View Panel
-------------------------------------------	
*/
.-splicejs-view-panel {
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;

	overflow: hidden;
}

.-splicejs-view-panel .panel {
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
}