.applicationpanel {
	
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	right:0px;
}

.menubar {
	position:relative;
	padding:10px;
}

.bodypanel {
	position:absolute;
	left:0px; top:50px;
	right:0px; bottom:0px;
	
}

.editpanel {	
	 position:absolute;
	 left:0px; top:0px;
	 bottom:0px;
	 
	 padding-left:10px;
	 width:0px;
	
	overflow:hidden;
}

.datapanel {
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	
	overflow-y:auto;
}

.search {
	float:right;
}



table.cool-blue-table {
	width:100%;
	border-collapse: collapse;
}

table.cool-blue-table td {
	border:1px solid rgb(54,83,112);
	color:rgb(114,141,176);
}

table.cool-blue-table thead td {
	background-color:rgb(37,62,93);
}

table.cool-blue-table tbody td {
	font-size:13px;
	padding:6px;
	background-color:rgb(28,50,73);
}


table.cool-blue-table td:first-child {
	text-align: middle;
}