body {
	overflow: hidden;
	font-family: 'Arial Narrow', Arial, sans-serif;
}

.sample-table.-sjs-datatable {
	width:100%; height:100%;
	
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:12px;
}

.sample-table.-sjs-datatable .-sjs-datatable-headercontainer {
	background-color: #fefefe;
}

.sample-table.-sjs-datatable .-sjs-table th {

  background-color: #2B2C2C;
  color: #fefefe;
  font-size: 0.9em;
  border: 1px solid #424242;
}
.sample-table.-sjs-datatable .-sjs-table th:hover {
    background-color: #303030;
	border: 1px solid #303030;
}

.sample-table.-sjs-datatable .-sjs-scrollpanel .static  {
	height:50px;
}
.sample-table.-sjs-datatable .-sjs-table {
	border-collapse:  collapse;
}


.sample-table.-sjs-datatable .-sjs-table td {
    color: #A5A5A5;
    border: 1px solid #353535;
    padding-left: 1em;
    padding-right: 1em;
}

.sample-table.-sjs-datatable .-search-result-highlight {
	background-color:#222222;
	color:#FFF92D;
}


.sample-table.-sjs-datatable .-sjs-table tbody tr:hover {
	background-color:#eaeaea;
	
}

span.-drilldown {
	border:1px solid rgba(255,255,255,0);
	border-radius: 5px;
	padding:1px; padding-left:3px; padding-right:3px;
	cursor:pointer;
}


span.-drilldown:hover {
	background-color:#222222;
	color:#fefefe;
	border:1px solid #222222;
}

.-sjs-button {
	padding:5px;
	padding-left:7px; padding-right:7px;
	
}


.-sjs-paginator .page {
	border: 1px solid #cecece;
	color:black;
    font-size: 0.8em;
 	padding:9px;
	cursor:pointer;
	margin-right:5px;
	padding-top:5px;
	padding-bottom:5px;
}
.-sjs-paginator .page:hover {
	background-color:black;
	border: 1px solid black;
	color:white;
}

.-sjs-paginator .selected .page {
	background-color:black;
	border: 1px solid black;
	color:white;
} 